<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Header 1</h1>
    <p>Name: {{junk}}</p>
    <form action="/results" method="post">
        first Name: <input name="fName" type="text">
        Last Name: <input name="lName" type="text">
        <input type="submit">
    </form>
    {{> footer}}
</body>
</html>