<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Home</title>
</head>
<body>
    <div id="wrapper">
    {{>navbar}}
    <h1>Home Page</h1>
    <pre>
        leo malesuada, mollis nulla vel, vulputate elit. Ut libero dui, ultricies 
        eget rhoncus mollis, aliquam at diam. Integer ultricies ex vulputate magna 
        tincidunt, id auctor est pellentesque. Vestibulum commodo cursus tempor. 
        Fusce non nisi elit. Phasellus orci tellus, efficitur facilisis malesuada 
        quis, sodales in felis.

Praesent aliquam diam quis metus vestibulum venenatis. 
Integer dui nibh, volutpat et dignissim sed, vulputate at risus. Ut cursus sem non arcu ornare, vitae lacinia ex scelerisque. Vestibulum in odio id eros iaculis maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut eget ullamcorper arcu. Maecenas in consequat magna, a suscipit sem. Duis tempor a urna et blandit. Duis nec lectus erat. Nulla facilisi.

Integer efficitur in sem nec molestie. 
Phasellus congue sapien et elementum semper. Suspendisse nec ultricies nisi. 
Vivamus vel sodales felis. In mattis nunc et diam aliquet, nec congue mauris 
volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
posuere cubilia Curae; Nulla vitae tristique arcu. Integer vitae est lacus. 
Maecenas maximus est eu justo consequat pulvinar. Aliquam bibendum purus sed 
ante commodo tempor. Suspendisse potenti. 
Donec faucibus, tortor et iaculis tempor, orci ipsum hendrerit lacus, eu 
dignissim nulla lacus pulvinar elit. Morbi eget bibendum neque, sit amet 
fermentum risus. Sed non mauris non enim mollis mollis.

Ut finibus pellentesque quam, ac congue ante pulvinar quis. Cras id malesuada lacus,
    </pre>
    </div>
</body>
</html>